<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cores</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>

    <section class="section">
        <div class="container">
          <h1 class="title">Cores</h1>
          <table class="table is-bordered is-striped is-hoverable">
            <thead>
              <tr>
                <th>Block</th>
                <th>Reuse Count</th>
                <th>RTLS Attempts</th>
                <th>RTLS Landings</th>
                <th>ASDS Attempts</th>
                <th>ASDS Landings</th>
                <th>Last Update</th>
                <th>Launches</th>
                <th>Serial</th>
                <th>Status</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < cores.length; i++) { %>
                <tr>
                  <td><%= cores[i].block || '' %></td>
                  <td><%= cores[i].reuse_count %></td>
                  <td><%= cores[i].rtls_attempts %></td>
                  <td><%= cores[i].rtls_landings %></td>
                  <td><%= cores[i].asds_attempts %></td>
                  <td><%= cores[i].asds_landings %></td>
                  <td><%= cores[i].last_update %></td>
                  <td><%= cores[i].launches.join(', ') %></td>
                  <td><%= cores[i].serial %></td>
                  <td><%= cores[i].status %></td>
                  <td><%= cores[i].id %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
      
    
</body>
</html>